{% extends 'base.html.twig' %}
{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Ongi etorri</h1>

        <div class="row mb-2">
            <div class="col-lg-6 mb-2">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">Pour les identifiants de connexion
                        voir le tuto sur Moodle</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <img src="/images/home/BTS_CIEL_IR.jpg" alt="BTS CIEL" width=100% height=auto>
            </div>
        </div>
{% endblock %}