{% extends 'base.html.twig' %}

{% block title %}{{ article.name }}{% endblock %}

{% block body %}
    <h3>Modifier l'article {{ article.name }}</h3>

    {{ include('article/_form.html.twig', {'button_label': 'Modifier'}) }}

{% endblock %}
